.navbar{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 33, 33);
    overflow-y: auto;
    //border: 1px red solid;
}
.navbarLeft {
    //color: white;
    position: relative;
    //border: 1px yellow solid;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    //border: 1px white solid;
    width: 70%;
    height: 100%;
}

.menu_b {
    display: flex;
    //border: 1px white solid;
    width: 30%;
    height: 100%;
}

.navbarMiddle {
    height: 100%;
    width: 40%;
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    display: flex;
    //border: 1px purple solid;
    justify-content: center;
}

.search_bar {
    position: relative;
    top: 12%;
    background-color: black;   
    color: black;
    border: black;
    width: 270%;
    height: 60%;
    display: flexbox;
    vertical-align: center;
    form {
        width: 100%;
        
    }
    .bar {
        background-color: black;
    }
}

.search_button {
    background-color: rgb(68, 68, 68);    
    border: 3px solid rgb(68, 68, 68);
    width: 15%;
    height: 65%;
    display: flex;
    vertical-align: center;
}
.button_image {
    position: relative;
    top: 12%;
    //border: 1px solid yellow;
    background-color: rgb(68, 68, 68);
    height: 65%;
    display: flex;
    vertical-align: center;
}

.navbarRight {
    
    height: 100%;
    width: 18%;
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    display: flex;
    //border: 1px pink solid;
    justify-content: center;
}

.navbarIcons {
    
}